<h1 align="center">Editing Article</h1>

<%= render 'form' %>
<div class="col-xs-4 col-xs-offset-4">
   [ <%= link_to 'Show Article', @article %> |
    <%= link_to 'Cancel update and return to Articles', articles_path %> ]
</div>