<h1>Editing Article</h1>

<%= render 'form' %>
<div class="col-sm-11 pull-right link-to">
   [ <%= link_to 'Show Article', @article %> |
    <%= link_to 'Cancel update and return to Articles', articles_path %> ]
</div>