
<div class="jumbotron col-md-12">
    <h1 align="center">Welcome to About page</h1>
    <%= link_to "Homepage", root_path, class: "btn btn-primary btn-lg btn-xlarge col-xs-offset-4" %>
    <%= link_to "Articles", articles_path, class: "btn btn-primary btn-lg btn-xlarge " %>
    
</div>